Thank you for signing up for Alkemio!
<p>
<p>
For security reasons, please verify your email address by clicking on <b><a target="_blank" href="{{ .VerificationURL }}">this link.</a></b>
<p>
Or you can also cut and paste the following URL into your browser, with the following verification code <em>{{ .VerificationCode }}</em>
<p>
<em>{{ .VerificationURL }}</em>
<p>
Enjoy connecting and collaborating!
<p>
<b>The Alkemio Team</b>
<br>
<b>website</b>: <a target="_blank" href="https://alkem.io">https://alkem.io</a>
<p>
<p>
<a target="_blank" href="https://alkem.io"><img src="https://alkem.io/logo.png" width="120" ></a>
<p>
<p>
<i>Enabling society to collaborate. Building a better future, together.</i>
