Thank you for signing up for Alkemio!
<p>
<p>
For security reasons, please verify your email address by entering the following code:
<em>{{ .VerificationCode }}</em>
<p>
Alternatively, you can verify your email address by clicking on
<a href="{{ .VerificationURL }}">this link.</a>
or you can also cut and paste the following URL into your browser:
<p>
<em>{{ .VerificationURL }}</em>
<p>
Good luck connecting and collaborating!
<p>
<b>Team Alkemio</b>
<br>
<b>website</b>: <a href="https://alkem.io">https://alkem.io</a>
<br>
<a href="https://alkem.io"><img src="https://alkem.io/uploads/logos/alkemio-logo.svg" width="120"></a>
<br>
<i>Enabling society to collaborate. Building a better future, together.</i>
