Alkemio Account Recovery
<p>
please recover access to your account by clicking <a href="{{ .RecoveryURL }}">this link</a>.:
<p>
Alternatively, you can also cut and paste the following URL into your browser:
<p>
<em>{{ .RecoveryURL }}</em>
<p>
<b>The Alkemio Team</b>
<br>
<b>website</b>: <a target="_blank" href="https://alkem.io">https://alkem.io</a>
<p>
<p>
<a target="_blank" href="https://alkem.io"><img src="https://alkem.io/logo.png" width="120" ></a>
<p>
<p>
<i>Enabling society to collaborate. Building a better future, together.</i>
