dist: focal
language: node_js
node_js:
  - v20.15.1
env:
  matrix:
    - NODE_OPTIONS="--max-old-space-size=4196"

cache:
  directories:
    - node_modules
    - ~/.pnpm-store
before_install:
  - npm install -g pnpm@10.17.1
install:
  - pnpm install
script:
  - pnpm run test:ci:no:coverage
