dist: jammy
language: node_js
node_js:
  - v22.21.1
env:
  matrix:
    - NODE_OPTIONS="--max-old-space-size=4196"

cache:
  directories:
    - ~/.local/share/pnpm/store
before_install:
  - corepack enable
  - corepack prepare pnpm@10.17.1 --activate
install:
  - pnpm install --frozen-lockfile
script:
  - pnpm run test:ci:no:coverage
