Alkemio Account Recovery
<p>
please recover access to your account by entering the following code: {{ .RecoveryCode }}.
<p>
<b>Team Alkemio</b>
<br>
<b>website</b>: <a href="https://alkem.io">https://alkem.io</a>
<br>
<a href="https://alkem.io"><img src="https://alkem.io/uploads/logos/alkemio-logo.svg" width="120"></a>
<br>
<i>Enabling society to collaborate. Building a better future, together.</i>
