http:
  services:
    rabbitmq-management:
      loadBalancer:
        servers:
          - url: 'http://rabbitmq:15672'

    mailslurper-client:
      loadBalancer:
        servers:
          - url: 'http://mailslurper:4436'

    mailslurper-api:
      loadBalancer:
        servers:
          - url: 'http://mailslurper:4437'

    alkemio-server:
      loadBalancer:
        servers:
          - url: 'http://host.docker.internal:4000/'

    alkemio-web-client:
      loadBalancer:
        servers:
          - url: 'http://host.docker.internal:3001/'

    hydra:
      loadBalancer:
        servers:
          - url: 'http://hydra:4444/'

    hydra-admin:
      loadBalancer:
        servers:
          - url: 'http://hydra:4445/'

    oidc-service:
      loadBalancer:
        servers:
          - url: 'http://oidc-service:8080/'

    kratos-public:
      loadBalancer:
        servers:
          - url: 'http://kratos:4433/'

    kratos-admin:
      loadBalancer:
        servers:
          - url: 'http://kratos:4434/'

    kratos-admin-ui:
      loadBalancer:
        servers:
          - url: 'http://kratos-admin-ui:8080/'

    oathkeeper-proxy:
      loadBalancer:
        servers:
          - url: 'http://oathkeeper:4455/'

    oathkeeper-admin:
      loadBalancer:
        servers:
          - url: 'http://oathkeeper:4456/'

    synapse:
      loadBalancer:
        servers:
          - url: 'http://synapse:8008/'

    synapse-admin:
      loadBalancer:
        servers:
          - url: 'http://synapse-admin:80/'

    whiteboard-collaboration:
      loadBalancer:
        servers:
          - url: 'http://whiteboard-collaboration:4002/'

    collaborative-document:
      loadBalancer:
        servers:
          - url: 'http://collaborative-document:4004/'

    file-service:
      loadBalancer:
        servers:
          - url: 'http://file-service:4003/'

    webhook-gateway:
      loadBalancer:
        servers:
          - url: 'http://webhook-gateway:8080/'

  middlewares:
    strip-api-private-non-interactive-prefix:
      stripPrefix:
        prefixes:
          - /api/private/non-interactive
        forceSlash: false

    strip-api-private-prefix:
      stripPrefix:
        prefixes:
          - /api/private
        forceSlash: false

    strip-api-private-prefix-socket-io:
      stripPrefix:
        prefixes:
          - /api/private/ws
        forceSlash: false

    strip-api-public-prefix:
      stripPrefix:
        prefixes:
          - /api/public
        forceSlash: false

    strip-kratos-prefix:
      stripPrefix:
        prefixes:
          - /ory/kratos
        forceSlash: false

    strip-kratos-public-prefix:
      stripPrefix:
        prefixes:
          - /ory/kratos/public
        forceSlash: false

    strip-oathkeeper-jwks-prefix:
      stripPrefix:
        prefixes:
          - /jwks
        forceSlash: false

    strip-hydra-admin-prefix:
      stripPrefix:
        prefixes:
          - /hydra/admin
        forceSlash: false

  routers:
    oidc-public:
      rule: 'PathPrefix(`/oidc`)'
      service: 'oidc-service'
      entryPoints:
        - 'web'
      priority: 130

    hydra-public:
      rule: 'PathPrefix(`/.well-known/`) || PathPrefix(`/oauth2/`)'
      service: 'hydra'
      entryPoints:
        - 'web'
      priority: 100

    # Hydra Admin API accessible via /hydra for alkemio-server
    hydra-admin-web:
      rule: 'PathPrefix(`/hydra/admin`)'
      service: 'hydra-admin'
      middlewares:
        - strip-hydra-admin-prefix
      entryPoints:
        - 'web'
      priority: 99

    # Hydra Admin API (internal use only - not exposed via 'web' entryPoint)
    hydra-admin-internal:
      rule: 'PathPrefix(`/`)'
      service: 'hydra-admin'
      entryPoints:
        - 'hydra-admin'

    graphql:
      rule: 'PathPrefix(`/graphql`)'
      service: 'oathkeeper-proxy'
      entryPoints:
        - 'web'

    graphiql:
      rule: 'PathPrefix(`/graphiql`)'
      service: 'oathkeeper-proxy'
      entryPoints:
        - 'web'

    api-public-graphql:
      rule: 'PathPrefix(`/api/public/graphql`)'
      service: 'alkemio-server'
      middlewares:
        - strip-api-public-prefix
      entryPoints:
        - 'web'

    api-public-rest:
      rule: 'PathPrefix(`/api/public/rest`)'
      service: 'alkemio-server'
      middlewares:
        - strip-api-public-prefix
      entryPoints:
        - 'web'

    api-private-graphql:
      rule: 'PathPrefix(`/api/private/graphql`)'
      service: 'oathkeeper-proxy'
      middlewares:
        - strip-api-private-prefix
      entryPoints:
        - 'web'

    api-private-non-interactive-graphql:
      rule: 'PathPrefix(`/api/private/non-interactive/graphql`)'
      service: 'alkemio-server'
      middlewares:
        - strip-api-private-non-interactive-prefix
      entryPoints:
        - 'web'

    api-private-non-interactive-rest:
      rule: 'PathPrefix(`/api/private/non-interactive/rest`)'
      service: 'alkemio-server'
      middlewares:
        - strip-api-private-non-interactive-prefix
      entryPoints:
        - 'web'

    whiteboard-collaboration:
      rule: 'PathPrefix(`/api/private/ws`)'
      service: 'oathkeeper-proxy'
      middlewares:
        - strip-api-private-prefix-socket-io
      entryPoints:
        - 'web'

    collaborative-document:
      rule: 'PathPrefix(`/api/private/hocuspocus`)'
      service: 'oathkeeper-proxy'
      middlewares:
        - strip-api-private-prefix
      entryPoints:
        - 'web'

    # more specific than 'api-private-rest'
    file-service:
      rule: 'PathPrefix(`/api/private/rest/storage`)'
      service: 'oathkeeper-proxy'
      middlewares:
        - strip-api-private-prefix
      entryPoints:
        - 'web'

    calendar-event-ics:
      rule: 'PathPrefix(`/api/private/rest/calendar`)'
      service: 'oathkeeper-proxy'
      middlewares:
        - strip-api-private-prefix
      entryPoints:
        - 'web'

    kratos-public:
      rule: 'PathPrefix(`/ory/kratos/public`)'
      service: 'kratos-public'
      middlewares:
        - strip-kratos-public-prefix
      entryPoints:
        - 'web'

    kratos-admin:
      rule: 'PathPrefix(`/ory/kratos/admin`)'
      service: 'kratos-admin'
      middlewares:
        - strip-kratos-prefix
      entryPoints:
        - 'web'

    kratos-admin-ui:
      rule: 'PathPrefix(`/`)'
      service: 'kratos-admin-ui'
      entryPoints:
        - 'kratos-admin-ui'

    alkemiowebroute:
      rule: 'PathPrefix(`/`)'
      service: 'alkemio-web-client'
      entryPoints:
        - 'web'

    webhook-gateway:
      rule: 'PathPrefix(`/api/v1/webhooks`)'
      service: 'webhook-gateway'
      entryPoints:
        - 'web'
      priority: 140

    oathkeeper-jwks:
      rule: 'PathPrefix(`/jwks`)'
      service: 'oathkeeper-admin'
      middlewares:
        - strip-oathkeeper-jwks-prefix
      entryPoints:
        - 'web'

    synapse:
      rule: 'PathPrefix(`/`)'
      service: 'synapse'
      entryPoints:
        - 'synapse'

    synapse-admin:
      rule: 'PathPrefix(`/`)'
      service: 'synapse-admin'
      entryPoints:
        - 'synapse-admin'

    mailslurper-api:
      rule: 'PathPrefix(`/`)'
      service: 'mailslurper-api'
      entryPoints:
        - 'mailslurper-api'

    mailslurper-client:
      rule: 'PathPrefix(`/`)'
      service: 'mailslurper-client'
      entryPoints:
        - 'mailslurper-client'

    rabbitmq-management:
      rule: 'PathPrefix(`/`)'
      service: 'rabbitmq-management'
      entryPoints:
        - 'rabbitmq-management'

tcp:
  services:
    postgres:
      loadBalancer:
        servers:
          - address: 'postgres:5432'

    rabbitmq-amqp:
      loadBalancer:
        servers:
          - address: 'rabbitmq:5672'

    mailslurper-smtp:
      loadBalancer:
        servers:
          - address: 'mailslurper:1025'

    redis:
      loadBalancer:
        servers:
          - address: 'redis:6379'

    matrix-adapter:
      loadBalancer:
        servers:
          - address: 'matrix-adapter:8280'

  routers:
    postgres:
      rule: 'HostSNI(`*`)'
      service: 'postgres'
      entryPoints:
        - 'postgres'

    rabbitmq-amqp:
      rule: 'HostSNI(`*`)'
      service: 'rabbitmq-amqp'
      entryPoints:
        - 'rabbitmq-amqp'

    mailslurper-smtp:
      rule: 'HostSNI(`*`)'
      service: 'mailslurper-smtp'
      entryPoints:
        - 'mailslurper-smtp'

    redis:
      rule: 'HostSNI(`*`)'
      service: 'redis'
      entryPoints:
        - 'redis'

    matrix-adapter:
      rule: 'HostSNI(`*`)'
      service: 'matrix-adapter'
      entryPoints:
        - 'matrix-adapter'
