# API and dashboard configuration
api:
  dashboard: true
  insecure: true

log:
  level: DEBUG

entryPoints:
  web:
    address: ':80'
  mariadb:
    address: ':3306'
  postgres:
    address: ':5432'
  synapse:
    address: ':8008'
  synapse-admin:
    address: ':8088'
  mailslurper-client:
    address: ':4436'
  mailslurper-api:
    address: ':4437'
  mailslurper-smtp:
    address: ':1025'
  rabbitmq-amqp:
    address: ':5672'
  rabbitmq-management:
    address: ':15672'
  redis:
    address: ':6379'

providers:
  file:
    filename: /etc/traefik/http.yml
    watch: true

accessLog:
  filePath: '/etc/traefik/access.log'
