api:
  insecure: true
  dashboard: true

providers:
  file:
    filename: /etc/traefik/http.yml
    watch: true

entryPoints:
  web:
    address: ':80'
  mysql:
    address: ':3306'
  postgres:
    address: ':5432'
  synapse:
    address: ':8008'
  synapse-admin:
    address: ':8088'
  kratos-admin-ui:
    address: ':8188'
  mailslurper-client:
    address: ':4436'
  mailslurper-api:
    address: ':4437'
  mailslurper-smtp:
    address: ':1025'
  rabbitmq-amqp:
    address: ':5672'
  rabbitmq-management:
    address: ':15672'
  redis:
    address: ':6379'
  hydra-public:
    address: ':4444'
  hydra-admin:
    address: ':4445'

