apiVersion: batch/v1
kind: CronJob
metadata:
  name: server-migration
  generateName: server-migration-
spec:
  schedule: "@yearly"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: alkemio-server
              image: rg.nl-ams.scw.cloud/alkemio/alkemio-server:latest
              command: ["pnpm", "run", "migration:run"]
              imagePullPolicy: Always
              env:
                # Map POSTGRES_USER/PASSWORD to DATABASE_USERNAME/PASSWORD for the server
                - name: DATABASE_USERNAME
                  valueFrom:
                    configMapKeyRef:
                      name: alkemio-config
                      key: POSTGRES_USER
                - name: DATABASE_PASSWORD
                  valueFrom:
                    configMapKeyRef:
                      name: alkemio-config
                      key: POSTGRES_PASSWORD
              envFrom:
                - secretRef:
                    name: alkemio-secrets
                - configMapRef:
                    name: alkemio-config
