apiVersion: batch/v1
kind: CronJob
metadata:
  name: server-migration
  generateName: server-migration-
spec:
  schedule: "@yearly"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: alkemio-server
              image: rg.nl-ams.scw.cloud/alkemio/alkemio-server:latest
              command: ["npm",  "run", "migration:run"]

              envFrom:
                - secretRef:
                    name: alkemio-secrets
                - configMapRef:
                    name: alkemio-config
